{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": ["vue", "prettier"],
  "rules": {
    "import/no-unresolved": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": [2, { "allow": ["__vue__"] }],
    "prettier/prettier": "error"
  }
}
