.actionBar{
  height: 3em;
  padding: 0 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .right, .left{
    display: flex;
  }

  .left{
    margin-right: auto;
  }

  .btn{
    width: 2em;
    height: 2em;
    border-radius: 5px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover{
      background-color: #eee;

      &:active{
        background-color: #ccc;
      }
    }

    svg{
      height: 20px;
      width: 20px;
    }
  }
}
