.budget{
  padding-left: 0;
  padding-right: 0;
  position: relative;

  .table{
    .category{
      color: #333;
      margin-bottom: 1em;

      .main, .row{
        display: flex;
        background-color: #fff;
        padding: 1em;
        border: 1px solid #eee;
        user-select: none;

        .add{
          visibility: hidden;
          height: 18px;
          width: 18px;
          margin-left: 1em;
          stroke: #888;

          &:hover{
            stroke: #333;
            cursor: pointer;
          }
        }

        &:hover{
          .add{
            visibility: visible;
          }
        }

        *:last-child{
          margin-left: auto;
        }

        &:not(.row){ //.main
          font-weight: bold;
        }

        &:not(.main){ //.row
          border-top: none;
        }
      }
    }
  }

  .modal{
    position: absolute;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), 0 0 5px rgba(0,0,0,0.12);
    left: 50%;
    top: 4em;
    transform: translateX(-50%);

    button, input[type=submit]{
      margin-bottom: 0;
    }
  }
}
