.transactions{
  padding: 0;
  overflow: hidden;

  .table{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    color: #333;

    .header{
      position: sticky;
      top: 0;
      box-sizing: border-box;

      .cell{
        border: 1px solid #eee;
        color: #888;
      }
    }

    .body{
      display: table;
      width: 100%;
      background-color: #fff;
      table-layout: fixed;
      border-collapse: collapse;

      .row{
        display: table-row;
        height: 28px;

        .cell{
          display: table-cell;
          border-bottom: 1px solid #eee;
          padding-left: 0.6em;
          font-size: 0.875em;
          vertical-align: middle;
          user-select: none;

          &[data-type=date]{
            width: 80px;
          }

          &[data-type=inflow], &[data-type=outflow]{
            text-align: right;
            padding-right: 0.6em;
            width: 70px;
          }
        }
      }
    }
  }
}
