$blue: #00c6ff;
$green: #30e8b1;
$orange: #ff6400;
$orange-red: #ed6a5e;

$gray-text: hsl(0, 0, 45%);

$orange-gradient: linear-gradient(to bottom left, #ff4747, #ff8b4c);
$blue-gradient: linear-gradient(120deg, #00c6ff 0%, #00f2fe 100%);

$break: 900px;

@mixin card {
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  background-color: #fff;
  border-radius: 6px;
}
