$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$curve: cubic-bezier(0.4, 0, 0.2, 1);

$brand-green: #297c45;

$blue: #2196f3;
$green: #4caf50;
$red: #f44336;

$gray-text: #676767;
$red-text: #da3023;

$shadow: 0 5px 20px rgba(#000, 0.1);

$red-gradient: linear-gradient(to bottom left, #ff4747, #ff8b4c);
$blue-gradient: linear-gradient(120deg, #00c6ff 0%, #00f2fe 100%);

@mixin card {
  box-shadow: $shadow;
  border-radius: 6px;
  background-color: #fff;
}

@mixin input {
  font-family: $font-stack;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  color: #333;
  transition: 0.15s $curve;
  transition-property: box-shadow, border-color;

  &:focus,
  &:active {
    box-shadow: 0 0 3px 0 $blue !important;
    border-color: $blue !important;
  }
}
