$main: #5cd65c;
$mainHover: hsl(120, 55%, 60%);
$mainActive: hsl(120, 45%, 60%);

$secondary: #fafafa;
$secondaryHover: hsl(0, 0%, 95%);
$secondaryActive: hsl(0, 0%, 92%);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .root{
    display: flex;
  }
}

//Global App Styles
.app{
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 2em 2.5em;
}

section{
  background-color: #fff;
  border: 1px solid #eee;
  padding: 2em 1.5em;

  & + section{
    border-top: 0;
  }

  .title{
    font-size: 1.5em;

    & + *{
      display: block;
      margin-top: 1em;
    }
  }
}

form{

  label{
    display: block;
  }

  input{
    display: block;
    padding: 0.5em 0.75em;
    font-size: 1em;
    border-radius: 0.4em;
    border: 1px solid #bbb;
    margin-bottom: 1em;
  }

  .radio{
    display: inline-block;
    position: relative;
    margin-bottom: 1em;

    input[type=radio]{
      position: absolute;
      top: 100%;
      transform: translateY(-100%);
      z-index: -10000;
      opacity: 0;
    }

    label{
      padding: 0.5em 1em;
      background-color: $secondary;
      border: 1px solid #eee;
      text-align: center;
      font-size: 1.1em;
      user-select: none;
      transition: background-color 0.1s, border-color 0.1s, color 0.1s;

      &:hover{
        background-color: $secondaryHover;
      }

      &:active{
        background-color: $secondaryActive;
      }
    }

    .option + .option > label{
      border-top: 0;
    }

    .option:first-of-type > label{
      border-radius: 0.4em 0.4em 0 0;
    }

    .option:last-of-type > label{
      border-radius: 0 0 0.4em 0.4em;
    }

    //Active radio
    input[type=radio]:checked + label{
      background-color: $main;
      border-color: $main;
      color: #fff;

      &:hover{
        background-color: $mainHover;
      }

      &:active{
        background-color: $mainActive;
      }
    }

    input[type=radio]:checked:focus + label{
      background-color: $mainActive;
    }
  }

  button, input[type=button], input[type=submit]{
    background-color: $main;
    color: #fff;
    border: 0;
    cursor: pointer;
    outline: none;

    &:hover{
      background-color: $mainHover;
    }

    &:active, &:focus{
      background-color: $mainActive;
    }
  }

  & > *:last-child{
    margin-bottom: 0;
  }
}
